<html>
    <head>
        <title>Justin's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Justin's Blog</a></h1>
        </div>

        <div>
            <p>published: January 8th, 2018, 12:13</p>
            <h2><a href="">My first post</a></h2>
            <p>Once upon a time in '94</p>
        </div>

        <div>
            <p>published: January 8th, 2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Justin made no money and life sure was slow</p>
        </div>
    </body>
</html>